* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}


.main {
    background-color: #fff;
    display: flex;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;

}

.item {
    max-width: 490px;
    max-height: 265px;
    width: calc(50% - 10px);
    height: calc(95vw / 2 / 16 * 9);
    background-color: dodgerblue;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s all;

}

@media all and (max-width:768px) {
    .item {
        max-width: initial;
        max-height: initial;

        width: 95vw;
        height: calc(95vw / 16 * 9);
        margin: 5px 0;
    }

}

@media all and (min-width: 1200px) {
    .item:hover{
        opacity:1;
        transform: scale(1.2) rotate(45deg);
        z-index: 10;
        box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.3);
    }
}


.link-wrapper{
    pading: 50px 0;
    display: flex;
    justify-content: center;
    align-items:center;baseline


}


autor{
    color: #111;
}